.page{
    height:100%;
    display:grid;
    padding:10px;
    grid-template-rows:20% 65% 15%;
    grid-template-columns:repeat(12,1fr);
    box-sizing: border-box;
    margin:auto;
}

.headerPage{
    grid-column: span 12;
    background: url('/header.jpg') no-repeat;
    background-size: 100% 100%;
}
.mainPage{
    margin:auto;
    grid-column: span 12;
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:60% 40%;
    grid-template-areas: 
    "imgRecepie recepie"
    "lidForm lidForm";
    
}
.footerPage{
    grid-column: span 12;
    background: url('/footerBackground.png') no-repeat;
    background-size: 100% 100%;
}
.imgRecepie{
    margin-right:2%;
    margin-bottom:2%;
    background-image:url('/pic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.recepie{
    margin-left:2%;
    margin-bottom:2%;
    grid-area:recepie;
}
.bigtitle{
    font-size: 0.8rem;
    color: rgba(0, 0, 103, 0.786);
    font-weight: bold;
}
.subtitle{
    font-size: 0.7rem;
    color: rgba(89, 0, 122, 0.998);
    font-weight: bold;
    display: inline;
}
.text1{
    font-size: 0.6rem;
    color: rgba(0, 0, 122, 0.608);
    display: block;
}
.text2{
    font-size: 0.6rem;
    color: rgba(0, 0, 122, 0.608);
}
.list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.list > li:nth-child(0) {
    list-style-type: none; 
 }

.horizontal { display: inline; padding-left: 0.5em; }

.list > li:after {
    content: "|";
    padding-right:0.5em; 
    font-weight: bold;
}
.empty {
    list-style: none;
}

.lidForm{
    direction: rtl;
    position: relative;
    margin-top:2%;
    grid-area:lidForm;
    background-color:rgb(3, 66, 142); 
}


.footerBackground{
    height:100%;
    position: relative;
    bottom: 0;
}

.MaccabiLogo{
    width: 15%;
    position: absolute;
    height: auto;
    bottom: 0;
    left:2%;
}
